{% trans_default_domain 'front' %}
{% extends 'front.html.twig' %}

{% set DATA = appstate.getCommonData() %}

{% set colors = DATA[MosaicConstant.MOSAIC_COLOR] %}
{% set glazes = DATA[MosaicConstant.MOSAIC_GLAZE] %}
{% set patterns = DATA[MosaicConstant.MOSAIC_PATTERN] %}
{% set sizes = DATA[MosaicConstant.MOSAIC_SIZE] %}

{% set breadcrumb = "product.product_list" %}

{% set applyFilter = 0 %}

{%  block content %}
    {{ include('/component/breadcrumb.html.twig', { 'breadcrumb': breadcrumb }) }}

    <div class="site-wrapper product-list-zone">
        <div class="container-fluid no-padding">
            <div class="left-side no-padding" >
                <div class="product-list-menu-big-header">
                    {% trans %}product.list.category{% endtrans %}
                </div>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-tiles" data-toggle="collapse" aria-expanded="true">
                        {% trans %}product.list.menu.tiles{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <ul id="product-list-menu-tiles" class="product-menu-list collapse in">
                    {% for category in DATA[MosaicConstant.TILE] %}
                        {% if (FILTER_CATEGORY == category.id) %}
                            <li class="categoryFilter active" onclick="toogleFilterCategory($(this),{{ category.id }})">{{ category.name }} <span class="glyphicon glyphicon-remove"></span></li>
                        {% else %}
                            <li class="categoryFilter" onclick="toogleFilterCategory($(this),{{ category.id }})">{{ category.name }} <span class="glyphicon glyphicon-remove"></span></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-mosaic" data-toggle="collapse">
                        {% trans %}product.list.menu.mosaic_art{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <ul id="product-list-menu-mosaic" class="product-menu-list collapse in">
                    {% for category in DATA[MosaicConstant.MOSAIC] %}
                        {% if (FILTER_CATEGORY == category.id) %}
                            <li class="categoryFilter active" onclick="toogleFilterCategory($(this),{{ category.id }})">{{ category.name }} <span class="glyphicon glyphicon-remove"></span></li>
                        {% else %}
                            <li class="categoryFilter" onclick="toogleFilterCategory($(this),{{ category.id }})">{{ category.name }} <span class="glyphicon glyphicon-remove"></span></li>
                        {% endif %}
                    {% endfor %}
                </ul>


                <div class="product-list-menu-big-header">
                    {% trans %}product.list.refined_by{% endtrans %}
                </div>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-glazetypes" data-toggle="collapse">
                        {% trans %}product.list.menu.glaze_types{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <div id="product-list-menu-glazetypes" class="product-menu-list collapse in">
                    {% for gla in glazes %}
                        <div class="checkbox">
                            {% if (FILTER_TYPE == 2 and FILTER_TYPEID == gla.id) %}
                                <label><input type="checkbox" checked="checked" onclick="toogleFilter($(this), 2, {{ gla.id }})">{{ gla.name }}</label>
                            {% else %}
                                <label><input type="checkbox" onclick="toogleFilter($(this), 2, {{ gla.id }})">{{ gla.name }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-patterns" data-toggle="collapse">
                        {% trans %}product.list.menu.patterns{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <div id="product-list-menu-patterns" class="product-menu-list collapse in">
                    {% for pat in patterns %}
                        <div class="checkbox">
                            {% if (FILTER_TYPE == 3 and FILTER_TYPEID == pat.id) %}
                                <label><input type="checkbox" checked="checked" onclick="toogleFilter($(this), 3, {{ pat.id }})">{{ pat.name }}</label>
                            {% else %}
                                <label><input type="checkbox" onclick="toogleFilter($(this), 3, {{ pat.id }})">{{ pat.name }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-color" data-toggle="collapse">
                        {% trans %}product.list.menu.color{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <div id="product-list-menu-color" class="product-menu-list collapse in">
                    {% for co in colors %}
                        <div class="col-xs-6 col-sm-6 col-md-6 no-padding">
                            <div class="checkbox">
                                {% if (FILTER_TYPE == 4 and FILTER_TYPEID == co.id) %}
                                    <label><input type="checkbox" checked="checked" onclick="toogleFilter($(this), 4, {{ co.id }})">{{ co.name }}</label>
                                {% else %}
                                    <label><input type="checkbox" onclick="toogleFilter($(this), 4, {{ co.id }})">{{ co.name }}</label>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="clearer"></div>

                <div class="product-list-menu-header">
                    <a href="#product-list-menu-size" data-toggle="collapse">
                        {% trans %}product.list.menu.Size{% endtrans %}
                        <span class="glyphicon glyphicon-menu-up"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </div>
                <div id="product-list-menu-size" class="product-menu-list collapse in">
                    {% for size in sizes %}
                        <div class="checkbox">
                            {% if (FILTER_TYPE == 5 and FILTER_TYPEID == size.id) %}
                                <label><input type="checkbox" checked="checked" onclick="toogleFilter($(this), 5, {{ size.id }})">{{ size.size_value }}</label>
                            {% else %}
                                <label><input type="checkbox" onclick="toogleFilter($(this), 5, {{ size.id }})">{{ size.size_value }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="right-side no-padding">
                <div class="container-fluid no-padding">
                    {% for product in PRODUCTS %}
                        <div id="productItem{{ product.id }}" class="col-xs-6 col-sm-4 col-md-3 no-padding product-item">
                            <a href="{{ path('product_detail', {'id': product.id, 'slug': product.url}) }}">
                                <img src="{{ cdn }}{{ product.img }}" class="product-item-img">

                                <span class="product-item-name">
                                    {{ product.name }}
                                </span>
                                <span class="product-item-code">
                                    {{ product.code }}
                                </span>
                                <span class="product-item-color-zone">
                                    {% for co in product.color %}
                                        <span style="width: 5px; height: 5px; background-color: {{ co.color_code }}"></span>
                                    {% endfor %}
                                </span>
                                <div class="clearer"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="clearer"></div>
                <!--
                <div class="product-pagination">
                    <a href="javascript:void(0)">5</a>
                    <a href="javascript:void(0)">4</a>
                    <a href="javascript:void(0)">3</a>
                    <a href="javascript:void(0)">2</a>
                    <a href="javascript:void(0)">1</a>
                </div>
                <div class="clearer"></div>
                -->
            </div>
        </div>

        <div class="modal fade waiting-dialog" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript">
    var data = {{ PRODUCTS_STRING|raw }};
    var dataProductGlaze = {{ PRODUCTS_GLAZE|raw }};
    var dataProductPattern = {{ PRODUCTS_PATTERN|raw }};
    var dataProductColor = {{ PRODUCTS_COLOR|raw }};
    var dataProductSize = {{ PRODUCTS_SIZE|raw }};

    $(document).ready(function(){
        if($('.product-menu-list').children('li.active').length > 0)
        {
            $('.categoryFilter').hide();
            $('.product-menu-list').children('li.active').show();
        }

        {% if (FILTER_KEYWORD != '') %}
            {% set applyFilter = 1 %}
            keyword = '{{ FILTER_KEYWORD }}';
        {% endif %}

        {% if (FILTER_CATEGORY > 0) %}
            {% set applyFilter = 1 %}
            categoryFilter = {{ FILTER_CATEGORY }};
        {% endif %}

        {% if (FILTER_TYPE > 0) %}
            addFilter({{ FILTER_TYPE }}, {{ FILTER_TYPEID }});
        {% elseif (applyFilter == 1) %}
            applyFilter();
        {% endif %}
    });
</script>
{% endblock %}
