{% trans_default_domain "admin" %}
{% extends 'admin.html.twig' %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
{% endblock %}

{% set row_index = 1 %}

{% block content %}
	<h1 class="page-header">Danh sách mẫu mã</h1>
	<a href="{{ path('admin_pattern_add') }}" class="btn btn-primary" style="width: 10% ;margin-bottom: 0px; float: right"><h5>Thêm</h5> </a>
	<div class="clearer"></div>
	
	<div class="table-responsive">
		<table class="table table-striped report-table" id="MainTable">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="a_left">Tên tiếng anh</th>
					<th class="a_left">Tên tiếng việt</th>
					<th>Ảnh</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for pattern in PATTERNS %}
					<tr>
						<td>{{ row_index }}</td>
						<td class="a_left">{{ pattern.name_en }}</td>
						<td class="a_left">{{ pattern.name_vi }}</td>
						<td>
							<img alt="" src="{{ cdn }}{{ pattern.img }}" />
						</td>
						<td>
							<a href="{{ path('admin_pattern_edit', {'id': pattern.id}) }}" >Sửa</a>
							&nbsp;
							|
							&nbsp;
							<a href="{{ path('admin_pattern_delete', {'id': pattern.id}) }}">Xóa</a>

						</td>

						
					</tr>
					
					{% set row_index = row_index + 1 %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="clearer"></div>
	
{% endblock %}

{% block js %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript" language="javascript">

		$(document).on('ready', function () {
			$('#MainTable').DataTable({ bFilter: false
										, bInfo: false
										, "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3,4]}]
			});
		});
	</script>
{% endblock %}

