{% trans_default_domain "admin" %}
{% extends 'admin.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
{% endblock %}

{% set row_index = 1 %}

{% block content %}
    <h1 class="page-header">Sửa thông tin sản phẩm</h1>

    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <label class="col-xs-12-col-sm-12 col-md-6 alert alert-danger" id="error_message" style="display: none">{{ form_errors(form) }}</label>
        </div>

        <div class="row">
            <label class="col-xs-12-col-sm-12 col-md-6 alert alert-success" id="success_message" style="display: none">{{ message }}</label>
        </div>

        {{ form_widget(form.id) }}
        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Tên tiếng anh</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-3">
                {{ form_widget(form.name_en, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Tên tiếng việt</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-3">
                {{ form_widget(form.name_vi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Mã sản phẩm</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-3">
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
		
		<div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Danh mục của sản phẩm </label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-3">
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Giao nhận tiếng anh</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.deliver_en, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Giao nhận tiếng việt</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.deliver_vi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Mô tả  tiếng anh</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.desc_en, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Mô tả tiếng việt</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.desc_vi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Tiêu đề seo tiếng anh</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.seo_title_en, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Tiêu đề seo tiếng việt</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.seo_title_vi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Meta description tiếng anh</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.seo_meta_en, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Meta description tiếng việt</label>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                {{ form_widget(form.seo_meta_vi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Ảnh(500px x 500px)</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <img alt="" src="{{ cdn }}{{ form.vars.value.img }}" class="img-form-small" />
                <div class="clearer"></div>
                {{ form_widget(form.img_file) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Màu của sản phẩm</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="container-fluid">
                    {% for cl in form.color %}
                        <div class="col-xs-5 col-sm-3 col-md-3">
                            {{ form_widget(cl) }}
                            <label>{{ form_label(cl) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Chất liệu của sản phẩm</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="container-fluid">
                    {% for gl in form.glaze %}
                        <div class="col-xs-5 col-sm-3 col-md-3">
                            {{ form_widget(gl) }}
                            <label>{{ form_label(gl) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Mẫu mã của sản phẩm</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="container-fluid">
                    {% for pa in form.pattern %}
                        <div class="col-xs-5 col-sm-3 col-md-3">
                            {{ form_widget(pa) }}
                            <label>{{ form_label(pa) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Kích thước của sản phẩm</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="container-fluid">
                    {% for si in form.size %}
                        <div class="col-xs-5 col-sm-3 col-md-3">
                            {{ form_widget(si) }}
                            <label>{{ form_label(si) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-10 col-sm-4 col-md-3">
                <label class="control-label">Ảnh (500px x 500px và tối đa 3 ảnh)</label>
                <div class="hidden_file_upload"><input type="file" id="formUpload_file" onchange="uploadProductImg();" /></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="container-fluid">
                    {% for img in ProductImages %}
                        <div class="col-xs-6 col-sm-2 col-md-2">
                            <div class="product_img_thumb_zone">
                                <img alt="" src="{{ cdn }}{{ img.img_thumb }}"/>
                                <span class="img_thumb_remove" onclick="removeProductImg({{ img.id }}, $(this))"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
                            </div>
                        </div>
                    {% endfor %}


                    <div class="col-xs-6 col-sm-2 col-md-2" id="addImgZone">
						<span class="add_img_button" onclick="javascript: $('#formUpload_file').trigger('click')">
							<span id="icon-add" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span id="loading_notice" class="loading">Đang tải</span>
						</span>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="OK" />

        <a href="{{ path('admin_product_list') }}" class="btn btn-primary" >Về danh sách</a>
    </div>
    {{ form_end(form) }}

    <div class="clearer"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            if (jQuery.trim($('#error_message').html()).length > 0)
                $('#error_message').show();

            if (jQuery.trim($('#success_message').html()).length > 0)
                $('#success_message').show();
        });

        function uploadProductImg()
        {
            var files = $("#formUpload_file").prop("files");

            var data = new FormData();
            for (var i = 0; i < files.length; i++)
            {
                data.append("form[file]", files[i]);
            }
            data.append("form[product_row_id]", {{ form.vars.value.id }});

            $('#icon-add').hide();
            $('#loading_notice').show();
            $.ajax({
                url: "{{ path('admin_product_upload') }}",
                type: 'POST',
                data: data,
                cache: false,
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                dataType: 'json',
                success: function(data, textStatus, jqXHR)
                {
                    if (data.id > 0)
                    {
                        var cdn = "{{ cdn}}";

                        var content = '<div class="col-xs-6 col-sm-2 col-md-2"><span class="product_img_thumb_zone"><img alt="" src="' + cdn + data.img_thumb + '"/><span class="img_thumb_remove" onclick="removeProductImg(' + data.id + ', $(this))"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></span></div>';

                        $(content).insertBefore("#addImgZone");
                    }
                    else if (data.id == 0)
                    {
                        alert('Upload không thành công do thông tin dự án không đúng! Có thể đã bị xóa hoặc thay đổi trong quá trình upload');
                    }
                    else if (data.id == -2)
                    {
                        alert('File không đúng ảnh jpg, jpeg, gif, png! Cũng có thể quá trình upload bị lỗi đường truyền');
                    }
                    else
                    {
                        alert('Upload không thành công! Xin hãy thử lại hoặc liên hệ kỹ thuật để được hỗ trợ');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    alert('Upload không thành công! Xin hãy thử lại hoặc liên hệ kỹ thuật để được hỗ trợ');
                }
                ,complete: function(){
                    $('#icon-add').show();
                    $('#loading_notice').hide();
                }
            });
        }

        function removeProductImg(id, obj)
        {
            if (confirm('Bạn chắc chắn muốn xóa ảnh này ?'))
            {
                $.ajax({
                    url: "{{ path('admin_product_remove_upload') }}/" + id,
                    type: 'POST',
                    data: {},
                    cache: false,
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    dataType: 'json',
                    success: function(data, textStatus, jqXHR)
                    {
                        if (data.id > 0)
                            $(obj).parent().parent().remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){}
                    ,complete: function(){}
                });

            }
        }
    </script>
{% endblock %}

