{% trans_default_domain "admin" %}
{% extends 'admin.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
{% endblock %}

{% set row_index = 1 %}

{% block content %}
    <h1 class="page-header">Danh sách nhóm dự án</h1>

    <div class="table-responsive">
        <table class="table table-striped report-table" id="MainTable">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="a_left">Tên tiếng anh</th>
                <th class="a_left">Tên tiếng việt</th>
                <th>Ảnh</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for pro in PROJECT_GROUPS %}
                <tr>
                    <td>{{ row_index }}</td>
                    <td class="a_left">{{ pro['name_en'] }}</td>
                    <td class="a_left">{{ pro['name_vi'] }}</td>
                    <td>
                        <img alt="" src="{{ cdn }}{{ pro['img'] }}" />
                    </td>
                    <td>
                        <a href="{{ path('admin_project_group_edit', {'id': pro['id']}) }}">Sửa</a>
                    </td>

                </tr>

                {% set row_index = row_index + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearer"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" language="javascript">

        $(document).on('ready', function () {
            $('#MainTable').DataTable({ bFilter: false
                , bInfo: false
                , "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3,4]}]
            });
        });
    </script>
{% endblock %}

